<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sing in page..</title>
    <link rel="Stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="signup-page">
    <div class="Wrapper">
        <div class="title">Sign Up</div>
        <form class="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="Enter first name" required>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Enter last name" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="Enter your Email" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter password" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm password</span>
                    <input type="password" placeholder="Confirm password" required>
                </div>
            </div> 
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>
