
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-page{
    width: 100%;
    height: 109vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), 
                url('../img/img.csv.jpeg'); /* Ensure the correct image path */
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}

.content {
    position: absolute; /* Places content on top of the image */
    top: 45%;
    left: 6%; /* Moves content to the left */
    transform: translateY(-50%); /* Centers vertically */
    color: white;
}

h1 {
    font-size: 4rem;
    margin: left 3px;
}

h1 span {
    color:  #ffcc00;; /* Highlight color */
}

p {
    font-size: 1.5rem;
    margin-top: 1%; /* Reduce space between h1 and p */
}



.form {
    position: absolute;
    transform:translateY(-50%);
    background: rgba(35, 36, 33, 0.8);
    padding: 10px; /* More padding for larger form */
    border-radius: 50px;
    text-align: center;
    width: 350px; /* Increased width */
    margin-top: 350px;
    color: black;
    font-size: 10px;
    right:150px;
}

.form h2 {
    font-size: 1.5rem; /* Bigger title */
    margin-bottom: 10px;
    background:#ffcc00;
    border-radius: 50px;
    margin: 10px;
    padding: 15px;
}

.form input {
    width: 100%;
    height: 10px; /* Taller input fields */
    padding: 18px; /* More padding inside inputs */
    margin: 20px 0;
    border: none;
    font-size: 1rem; /* Bigger text */
    border-radius: 10px;
    background: transparent;
    border-bottom: 1px solid #ffcc00;
    color:white;
    margin-bottom: 8%;
}

.btn {
    width: 60%;
    padding: 15px;
    background: #ffcc00;
    border: none;
    border-radius: 25px;
    font-size: 1rem; /* Bigger button text */
    font-weight: bolder;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #ffd633;
    color: #fff;
}
.auth-links {
    font-size: 5px;
    margin-top: 2%;
    color: white;
}
.auth-links a {
    color:#ffcc00;
    text-decoration: none; /* Removes underline */
    font-weight: bold;
    font-size: 15px;
  }
.signup-page{
    width: 100%;
    height: 58vh;
    background: url('signup.jpeg') no-repeat center center;
    background-size: cover;
    color: white;
    background-size: cover;
}
.Wrapper {
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;  /* Centers text inside */
    justify-content: center;
    margin-top: 250px;
    align-items: flex-start;
}
